<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list</title>
  </head>
  <body>
    <% if(KindOfDay === "Sunday"|| KindOfDay === "Saturday"){ %>
    <h1 style="color: purple">It's a <%=KindOfDay%>!</h1>
    <% }else{ %>
    <h1 style="color: blue">It's a <%=KindOfDay%>!</h1>
    <% } %>
  </body>
</html>
